<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap-theme.min.css">
    <script type="text/javascript" src="bower_components\angular\angular.min.js"></script>
    <script type="text/javascript" src="app\app.js"></script>
    <script type="text/javascript" src="bower_components\jquery\dist\jquery.min.js"></script>
    <script type="text/javascript" src="bower_components\bootstrap\dist\js\bootstrap.min.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="hello" class="content-fluid">
        <header><h1 class="text-center">Form Boladão</h1></header>
        <section class="col-sm-8 col-sm-offset-2">
            <div class="form-inline">
                <div class="form-group">
                <input type="text" id="form-name" class="form-control" placeholder="Nome" ng-model="user.name">
                </div>
                <div class="form-group">
                <input type="text" id="form-last" class="form-control" placeholder="Sobrenome" ng-model="user.last">
                </div>
            </div>
            <div class="form-group">
                <input type="email" id="form-email" class="form-control" placeholder="E-mail" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="password" id="form-pass" class="form-control" placeholder="Senha" ng-model="user.pass">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placehlder="Confirme sua senha">
            </div>
        </section>
        <pre>{{JSON.stringify(user)}}</pre>
    </div>
</body>
</html>